.img-relleno-citas{
    width: 38.188rem;
    height: 38.5rem;
    background-color: black;
    border-radius: 0.625rem;
}
.img2-relleno-citas{
    width: 38.188rem;
    height: 38.5rem;
    border-radius: 0.625rem;
}

.right-content-info-derecha-citas{
    background-color: #FFFAF9;
    border-radius: 1.875rem;
    height: 70vh;
}

.right-content-info-citas{
    display: flex;
    gap: 1.5%;

}

.right-content-info-izquierda-citas{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 70vh;
    background-color: #FFFAF9;
    border-radius: 0.625rem;
    align-items: center;
    padding-left: 10px;
}

.tablaPromo-citas{
    padding: 2rem;
    background-color: #FFFAF9;
    border-radius: 0.625rem;
}

#serviciosCita {
    gap: 2px;
    margin-right: 100px;
    opacity: 0.6;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#diaCita {
    margin-top: 1rem;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#horaCitas {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#clienteCitas {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#botonesCita{
    border-radius: 12px;
    width: 215px;
    height: 35px;
    font-weight: 500;
}

#botonesCita2 {
    font-weight: 500;
    border-radius: 12px;
    width: 215px;
    height: 35px;
    border: 1px solid #C0C0C0;
    background: #F1F1F1;
    color: #4D4B4B;
}

#cajonBotones {
    margin-top: 1.3rem;
}

#regCita{
    margin: 1rem;
}

h8{
    font-size: 3rem;
    color: #4F4F4F;
    font-weight: bold;
    font-family: Rubik;
}