.tabla-contenedor {
    max-height: 300px;  /* Altura máxima para el contenedor */
    overflow-y: auto;   /* Habilita el scroll vertical */
    width: 100%;        /* Asegura que ocupe todo el ancho disponible */
}

#tablitaScroll {
    width: 100%;
    border-collapse: collapse;
}

#tablitaScroll th, #tablitaScroll td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

.buscador-contenedor form {
    display: flex;           /* Usamos flexbox para alinear los elementos */
    align-items: center;     /* Alinea verticalmente los elementos en el centro */
    gap: 10px;               /* Espacio entre el input y el botón */
}