.tabla-contenedor {
    max-height: 300px;  /* Altura máxima para el contenedor */
    overflow-y: auto;   /* Habilita el scroll vertical */
    width: 100%;        /* Asegura que ocupe todo el ancho disponible */
}

#tablitaScroll {
    width: 100%;
    border-collapse: collapse;
}

#tablitaScroll th, #tablitaScroll td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

.buscador-contenedor form {
    display: flex;           /* Usamos flexbox para alinear los elementos */
    align-items: center;     /* Alinea verticalmente los elementos en el centro */
    gap: 10px;               /* Espacio entre el input y el botón */
}

#botonesCita{
    border-radius: 12px;
    width: 215px;
    height: 35px;
    font-weight: 500;
}

#botonesCita2 {
    margin-left: -0.01rem;
    font-weight: 500;
    border-radius: 12px;
    width: 215px;
    height: 35px;
    border: 1px solid #C0C0C0;
    background: #F1F1F1;
    color: #4D4B4B;
}

#botonesCredenciales{
    gap: 4%;
}
#botonCerrarSesion{
    gap: 4%;
}

.btnCerrarSesion {
    background-color: #F8BA4D;
    border: none;
}