<div th:fragment="header-user">
  <div class="left-var">
    <div class="contenedor-logo">
      <img class="logo" th:src="@{/img/Blanco Largo 1.png}">
    </div>
    <div>
      <hr class="custom-line">
    </div>
    <div class="opciones">
      <a class="menu-link" th:href="@{/user/home}"> <img class="icons-menu" th:src="@{/img/Home.png}"> Inicio</a>
      <a class="menu-link" th:href="@{/user/productos}"> <img class="icons-menu" th:src="@{/img/Shopping bag.png}"> Productos</a>
      <a class="menu-link" href="@{/user/servicios}"> <img class="icons-menu" th:src="@{/img/Scissors.png}"> Servicios</a>
      <a class="menu-link" href="vistaCitas.html"> <img class="icons-menu" th:src="@{/img/Calendar.png}"> Citas</a>
      <a class="menu-link" href="vistaPromociones.html"> <img class="icons-menu" th:src="@{/img/Tag.png}"> Promociones</a>
      <a class="menu-link" th:href="@{/user/mascotas}"> <img class="icons-menu" th:src="@{/img/icon _pet_.png}">  Mis Mascotas</a>
    </div>
    <div >
      <hr class="custom-line">
    </div>
    <div class="opciones">
      <a class="menu-link" href="#"> <img class="icons-menu" th:src="@{/img/Archive.png}"> PQRS</a>
      <a class="menu-link" href="#"> <img class="icons-menu" th:src="@{/img/Clipboard.png}"> Quienes Somos</a>
      <a class="menu-link" href="#"> <img class="icons-menu" th:src="@{/img/Info.png}"> Ayuda</a>
    </div>
    <div>
      <hr class="custom-line">
    </div>
    <div class="opciones">
      <a class="menu-link" href="#"> <img class="icons-menu" th:src="@{/img/Settings.png}"> Configuración</a>
    </div>
  </div>
</div>
